<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- scripts -->
{{!-- jQuery --}}
<script type="text/javascript"
src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
</script>
{{! testing communicator.js}}
<script src='js/index.js' type='text/javascript'></script>
{{!-- modal/button functions--}}
{{!-- <script src='js/modals.js' type='text/javascript'></script> --}}
{{! input.js- used when 'get Started' is clicked }}
{{!-- <script src="js/input.js" type="text/javascript"></script> --}}

<!-- style & fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="green" style="padding:128px 16px">
            <h1 id='welcome' class="margin jumbo">{{title}}</h1>
            <br>
            <button id='start' class="container button left black padding-large large margin-top">
                Get Started
            </button>
            <button id='about' class="container button right black padding-large large margin-top">
                About
            </button>

        <div id='about-div'>

            <h1>What We Are</h1>
            <h5 class="padding-32">Phi is a web application that allows you, the user, to generate a
                playlist based on your mood. This is accomplished through the answering of several questions
                asked through our interface.
            </h5>

            <p class="text-grey">These questions that are answered return to the AI a set of values that
                are then compared to our database of songs, provided to us through Spotify. Any songs that meet
                the criteria given are placed into a playlist. Simply log in with your Spotify account and get
                started! *Disclosure: We do not save any account information, all login credentials are stored
                through Spotify.*</p>
            </p>
        </div>
    <div id="input">
        <div id='advanced-options'>
            <div class='slidecontainer'>
            Tempo<input type="range" min="1" max="100" value="50" class="slider center" id="Tempo">
            Valence<input type="range" min="1" max="100" value="50" class="slider center" id="Valence">
            Danceability<input type="range" min="1" max="100" value="50" class="slider center" id="Danceablity">
            Happiness<input type="range" min="1" max="100" value="50" class="slider center" id="Happiness">
            Loudness<input type="range" min="1" max="100" value="50" class="slider center" id="Loudness">
            </div>
            <br>
            <div id='genre-form'>
                <input type='text' value='genre'>
            </div>

            <button type="button" class="button black large margin-top right" id="advanced">
                Advanced Options
            </button>
        <button id='submit' type="submit" class="button left black large margin-top">
            Submit
        </button>
        </div>
    </div>
    <div id="output">
        <button type='submit' class="button black large margin-top right" id="export">
            Export to Spotify
        </button>
        <button type='submit' class="button black large margin-top left" id="restart" method='post'>
            Start Over
        </button><br>
    </div>
</body>
