<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- scripts -->
{{! javascript graphic library}}
<script src="js/jsgl.js" type="text/javascript"></script>
{{!-- jQuery --}}
<script type="text/javascript"
src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
</script>
{{!-- modal/button functions--}}
<script src='js/Modals.js' type='text/javascript'></script>
{{!-- clientside TensorFlow; used in nn.js--}}
<script src = "https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0";
document.getElementsByTagName('head')[0].appendChild(script)></script>
{{!-- neural net js file --}}
<script src="js/nn.js" type="text/javascript"></script>
{{! input.js- used when 'get Started' is clicked }}
<script src="js/pentagraph.js" type="text/javascript"></script>
<!-- <script src="js/input.js" type="text/javascript"></script> -->
<script src="js/login.js" type="text/javascript"></script>

<!-- style & fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="green">
    <!-- Navbar -->
    <div class="top" id='welcome'>
        <div class="bar green card left-align large">
            <a class="bar-item button hide-medium hide-large right padding-large hover-white large green" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <button id='login' class="bar-item button hide-small padding-large hover-white" target="_self">
                Login
            </a>
            <button id='about' class="bar-item button hide-small padding-large hover-white" target="_self">
                About
            </a>

            <div id='aboutModal' class='modal'>
                <div class='about-content'>
                    <!-- <span class='close'>&times;</span> -->
                    <h1>What We Are</h1>
                    <h5 class="padding-32">Phi is a web application that allows you, the user, to generate a
                        playlist based on your mood. This is accomplished through the answering of several questions
                        asked through our interface.
                    </h5>

                    <p class="text-grey">These questions that are answered return to the AI a set of values that
                        are then compared to our database of songs, provided to us through Spotify. Any songs that meet
                        the criteria given are placed into a playlist. Simply log in with your Spotify account and get
                        started! *Disclosure: We do not save any account information, all login credentials are stored
                        through Spotify.*</p>
                    </p>
                </div>
            </div>


            <!-- Navbar on small screens -->
            <div id="navDemo" class="bar-block white hide hide-large hide-medium large">
                <a href="#" class="bar-item button padding-large">Connect</a>
                <a href="#" class="bar-item button padding-large">Try It Out</a>
                <a href="#" class="bar-item button padding-large">About Us</a>
            </div>
        </div>

        <header  class="container green center" style="padding:128px 16px">
            <h1 class="margin jumbo">{{title}}</h1>
            <button class="button black padding-large large margin-top" id="start-button">
                Get Started
            </button>
        </header>

        <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("show") == -1) {
                x.className += " show";
            } else {
                x.className = x.className.replace(" show", "");
            }
        }
        </script>
        {{!-- hidden; selector/pentagraph --}}
    </div>
    <div id="input">
        <div id="selector" class='container green center left-align'>
            <script src="js/jsgl.js" type="text/javascript"></script>
            <!-- <div id="panel"></div> -->
            <div id="panel" style ="width: 440px; height: 440px; position: center"></div>
            {{!<script src="js/pentagraph.js" type="text/javascript"></script>}}
            <button type="submit" class="button black large margin-top" id="submit" onclick="submit()">
                Submit
            </button>
        </div>
        <div id="advanced-options" class='right-align'>
            <button type="button" class="button black " id="advanced">
                Advanced Options
            </button>
            <!-- TODO: add drop down menus, how to get input from ddm? -->
        </div>
    </div>
    <div id="output">
        output goes here:...
        <button type="adv-button" class="button black " id="export">
            Export to Spotify
        </button>
    </div>
</body>
