<h1>{{title}}</h1>

{{!-- clientside TensorFlow; used in nn.js--}}
<script src = "https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0";
document.getElementsByTagName('head')[0].appendChild(script)></script>
{{!-- neural net js file --}}
<script src="js/nn.js" type="text/javascript"></script>
{{!-- handles user input --}}
<script src="js/input.js" type="text/javascript"></script>
{{!-- handles user log in --}}
<script src="js/login.js" type="text/javascript"></script>
{{!-- jQuery --}}
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
</script>

<div class="body">

    {{!-- jQuery test --}}
    <div class="trigger">Trigger</div>
    <div class="result"></div>
    <div class="log"></div>

    {{!-- phi html --}}
    <div id="greet">
        Welcome, {{name}}!
        <button type="submit" id="login" onclick="user_login()">login</button>
        <br>
    </div>
    <div id="advanced">advanced options</div>
    <div id='input'>
        <div class="slidecontainer">
            <br>Loudness<br>
            <input type="range" min="-100" max="100" value="0" class="slider" id="Loudness">
        </div>
        <div class="slidecontainer">
            Danceability<br>
            <input type="range" min="-100" max="100" value="0" class="slider" id="Danceability">
        </div>
        <div class="slidecontainer">
            Happiness<br>
            <input type="range" min="-100" max="100" value="0" class="slider" id="Hapiness">
        </div>
        <div class="slidecontainer">
            Tempo<br>
            <input type="range" min="-100" max="100" value="0" class="slider" id="Tempo">
        </div>
        <div class="slidecontainer">
            Energy<br>
            <input type="range" min="-100" max="100" value="0" class="slider" id="Energy">
        </div>

        <!-- <button type="submit" id="submit" >Submit</button> -->
        <button type="submit" id="submit" onclick="nnsubmit()">Submit</button>
    </div>
    <div id="demo"></div>
    <div id="output"></div>
</div>
