<!-- <h1>{{title}}</h1> -->
<h1>Project PHI</h1>
{{!-- clientside TensorFlow; used in nn.js--}}
<script src = "https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0";
document.getElementsByTagName('head')[0].appendChild(script)></script>
{{!-- neural net js file --}}
<script src="js/nn.js" type="text/javascript"></script>
<!-- <script src="js/input.js" type="text/javascript"></script> -->
<script src="js/login.js" type="text/javascript"></script>

{{!-- jQuery --}}
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
</script>

<div class="body">
    <div id="greet">
        {{!-- Welcome, {{name}}! --}}
        welcome guest
        <button type="submit" id="login" onclick="user_login()">login</button>
        <br>
    </div>

    <script src="js/jsgl.js" type="text/javascript"></script>
    <div id="panel" style ="width: 440px; height: 440px; position: absolute"></div>
        <script src="js/pentograph.js" type="text/javascript"></script>
        <button type="submit" id="submit" onclick="submit()">Submit</button>
    </div>
    <div id="demo"></div>
    <div id="output"></div>
</div>
